
        <h3>Login form</h3>
        <br />
        <form method="post">
            <table>
                <tr>
                    <th>Username:</th>
                    <td><input type="text" name="username" /><br /></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td><input type="password" name="password" /><br /></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td><input type="submit" value="LOGIN" /></td>
                </tr>
            </table>
        </form>
        