
        <h1>#VAR:strWellcome#</h1>

        <table>
            <tr>
                <th>Name:</th>
                <td>#VAR:strName#</td>
            </tr>
            <tr>
                <th>Spiele:</th>
                <td>#VAR:lngGamecount#</td>
            </tr>
            <tr>
                <th>Punkte:</th>
                <td>#VAR:lngPoints#</td>
            </tr>
            <tr>
                <th>Punkteschnitt:</th>
                <td>#VAR:lngAvgpoints#</td>
            </tr>
        </table>