
        <h1>Eigene Laufende Spiele</h1>

        #IF:is_array($this->_objResponse->arrGames)#
        <table class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header ">
                    <th>#ID</th>
                    <th>Spielname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lisGame">
                #FOREACH:arrGames#
                <tr>
                    <td>#VAR:UID#</td>
                    <td>#VAR:strName#</td>
                    <td>
                        <button class="btnEnter" value="#VAR:UID#">Betreten</button>
                    </td>
                </tr>
                #/FOREACH#
            </tbody>
        </table>

        <div id="dialog-enter" title="Betreten?">
            Möchten Sie das Spiel betreten?
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                gid = 0;

                $("#dialog-enter").dialog({
                    autoOpen: false,
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Ja": function() {
                            window.location.href = "#ROOT#/Game/Spielen?uid=" + gid;
                        },
                        "Nein": function() {
                            $(this).dialog("close");
                        }
                    }
                });

                ijb();
            });

            function ijb() {
                $("#lisGame .btnEnter").on('click.Dialog', function(e) {
                    e.preventDefault();
                    gid = $(this).attr("value");
                    $("#dialog-enter").dialog("open");
                });
            }
        </script>
        #/IF#
        
        #IF:!is_array($this->_objResponse->arrGames)#
        <h3>Derzeit keine laufenden Spiele</h3>
        #/IF#