
        <h1>Offene Spiele</h1>

        <form id="join"></form>
        <table class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header ">
                    <th>#ID</th>
                    <th>Spielname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lisGame">
                #FOREACH:arrGames#
                <tr>
                    <td>#VAR:UID#</td>
                    <td>#VAR:strName#</td>
                    <td>
                        <button class="btnJoin" name="uid" value="#VAR:UID#" type="submit" form="join" formaction="#ROOT#/Game/Beitreten" formmethod="post">Beitreten</button>
                    </td>
                </tr>
                #/FOREACH#
            </tbody>
        </table>

        <div id="dialog-join" title="Beitreten?">
            Möchten Sie dem Spiel beitreten?
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                gid = 0;

                $("#dialog-join").dialog({
                    autoOpen: false,
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Ja": function() {
                            $("#lisGame .btnJoin[value='"+gid+"']").off("click.Dialog");
                            $("#lisGame .btnJoin[value='"+gid+"']").trigger("click");
                        },
                        "Nein": function() {
                            $(this).dialog("close");
                        }
                    },
                    close: function() {
                        lgl();
                    }
                });

                ijb();
                lgl();
            });

            function ijb() {
                $("#lisGame .btnJoin").on('click.Dialog', function(e) {
                    e.preventDefault();
                    gid = $(this).attr("value");
                    window.clearInterval(ir);
                    $("#dialog-join").dialog("open");
                });
            }

            function lgl() {
                ir = window.setInterval(function(){
                    $.post("#ROOT#/XGame/Getlist", function(data){
                        $("#lisGame").html(data);
                        $("#lisGame button").button();
                        ijb();
                    });
                }, 5000);
            }
        </script>