
        <h1>Offene Spiele</h1>

        <table class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header ">
                    <th>#ID</th>
                    <th>Spielname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lisGame">
                #FOREACH:arrGames#
                <tr>
                    <td>#VAR:UID#</td>
                    <td>#VAR:strName#</td>
                    <td>
                        <button class="btnJoin" ref="#VAR:UID#">Beitreten</button>
                    </td>
                </tr>
                #/FOREACH#
            </tbody>
        </table>

        <div id="dialog-join" title="Beitreten?">
            Möchten Sie dem Spiel beitreten?
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                gid = 0;

                $("#dialog-join").dialog({
                    autoOpen: false,
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Ja": function() {
                            $(this).dialog("close");
                            alert("You are joining game " + gid);
                        },
                        "Nein": function() {
                            $(this).dialog("close");
                            alert("You are not joining game " + gid);
                        }
                    },
                    close: function() {
                        lgl();
                    }
                });

                ijb();
                lgl();
            });

            function ijb() {
                $("#lisGame .btnJoin").click(function() {
                    gid = $(this).attr("ref");

                    window.clearInterval(ir);

                    $("#dialog-join").dialog("open");
                });
            }

            function lgl() {
                ir = window.setInterval(function(){
                    $.post("#ROOT#/XGame/Getlist", function(data){
                        $("#lisGame").html(data);

                        $("#lisGame input[type='submit'], button").button();

                        ijb();
                    });
                }, 5000);
            }
        </script>