
        <h1>Eigene Offene Spiele</h1>

        #IF:is_array($this->_objResponse->arrGames)#
        <form id="close"></form>
        <table class="ui-widget ui-widget-content">
            <thead>
                <tr class="ui-widget-header ">
                    <th>#ID</th>
                    <th>Spielname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lisGame">
                #FOREACH:arrGames#
                <tr>
                    <td>#VAR:UID#</td>
                    <td>#VAR:strName#</td>
                    <td>
                        <button class="btnClose" name="uid" value="#VAR:UID#" type="submit" form="close" formaction="#ROOT#/Game/Schliessen" formmethod="post">Schließen</button>
                    </td>
                </tr>
                #/FOREACH#
            </tbody>
        </table>

        <div id="dialog-close" title="Schließen?">
            Möchten Sie das Spiel schließen?
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                gid = 0;

                $("#dialog-close").dialog({
                    autoOpen: false,
                    resizable: false,
                    modal: true,
                    buttons: {
                        "Ja": function() {
                            $("#lisGame .btnClose[value='"+gid+"']").off("click.Dialog");
                            $("#lisGame .btnClose[value='"+gid+"']").trigger("click");
                        },
                        "Nein": function() {
                            $(this).dialog("close");
                        }
                    }
                });

                ijb();
            });

            function ijb() {
                $("#lisGame .btnClose").on('click.Dialog', function(e) {
                    e.preventDefault();
                    gid = $(this).attr("value");
                    $("#dialog-close").dialog("open");
                });
            }
        </script>
        #/IF#
        
        #IF:!is_array($this->_objResponse->arrGames)#
        <h3>Derzeit keine offenen Spiele</h3>
        #/IF#