
        <h1>Aktivieren</h1>

        <form method="post">
            <input type="hidden" name="strUsername" value="#VAR:strUsername#" />
            <table>
                <tr>
                    <th><label for="strPassword" class="#VAR:ERROR_strPassword#">Password:</label></th>
                    <td>
                        <input type="password" id="strPassword" name="strPassword" />
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Aktivieren" />
                    </td>
                </tr>
            </table>
        </form>