
        <h1>Registrieren</h1>

        <form method="post">
            <table>
                <tr>
                    <th><label for="strUsername" class="#VAR:ERROR_strUsername#">Username:</label></th>
                    <td>
                        <input type="text" id="strUsername" name="strUsername" value="#VAR:strUsername#" class="text ui-widget-content ui-corner-all" />
                    </td>
                </tr>
                <tr>
                    <th><label for="strPassword" class="#VAR:ERROR_strPassword#">Password:</label></th>
                    <td>
                        <input type="password" id="strPassword" name="strPassword" class="text ui-widget-content ui-corner-all" />
                    </td>
                </tr>
                <tr>
                    <th><label for="strPassword_reenter" class="#VAR:ERROR_strPassword_reenter#">Reenter:</label></th>
                    <td>
                        <input type="password" id="strPassword_reenter" name="strPassword_reenter" class="text ui-widget-content ui-corner-all" />
                    </td>
                </tr>
                <tr>
                    <th><label for="strEmail" class="#VAR:ERROR_strEmail#">E-Mail:</label></th>
                    <td>
                        <input type="text" id="strEmail" name="strEmail" value="#VAR:strEmail#" class="text ui-widget-content ui-corner-all" />
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Registrieren" />
                    </td>
                </tr>
            </table>
        </form>