
        <h1>Registrieren</h1>
        
        <form method="post">
            <table>
                <tr>
                    <th>Username: </th>
                    <td>
                        <input type="text" name="strUsername" value="#VAR:strUsername#" />
                    </td>
                </tr>
                <tr>
                    <th>Password: </th>
                    <td>
                        <input type="password" name="strPasword" />
                    </td>
                </tr>
                <tr>
                    <th>Reenter: </th>
                    <td>
                        <input type="password" name="strPassword_reenter" />
                    </td>
                </tr>
                <tr>
                    <th>E-Mail: </th>
                    <td>
                        <input type="text" name="strEmail" value="#VAR:strEmail#" />
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Registrieren" />
                    </td>
                </tr>
            </table>
        </form>